@model Đồ_Án_Newspaper.Models.Newspaper

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminMasterLayout.cshtml";
}

<h2> Chỉnh Sửa Bài Báo </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>
            Bài Báo Id : @Html.DisplayName(Model.Id_bao.ToString())
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_bao)

        <div class="card">
            <div class="card-header">
                <h4> Tiêu Đề </h4>
                @Html.TextAreaFor(model => model.TieuDe, new { @class = "w-100  form-control" })

               
            </div>

            <div class="card-header">
                <h4> Tiêu Đề Phụ Nếu Có Nếu Không Có Thì Để Trống </h4>
                @Html.TextAreaFor(model => model.TieuDePhu, new { @class = "w-100  form-control" })
            </div>

            <div class="card-body">
                <h4> Nội Dung </h4>
                @Html.TextAreaFor(model => model.NoiDung, new { @class = "w-100 form-control", rows = 30, columns = 50 })
            </div>

            <div class="card-footer">
                <h4>
                    Chuyên Mục
                </h4>

                @Html.DropDownList("Id_Chuyenmuc", null, htmlAttributes: new { @class = "form-control mt-3 mb-3" })

                <h4>
                    Người Quản Lý
                </h4>

                @Html.DropDownList("Admin_id", null, htmlAttributes: new { @class = "form-control mt-3 mb-3" })
            </div>
        </div>
        
        <div class="form-group d-flex mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            @Html.ActionLink("Back to List", "Index" , " " , new {@class = "btn btn-success"})

        </div>
    </div>
}

